<div class="wrapper">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__wobble" src="assets/img/logo-2.png" alt="AdminLTELogo" height="128" width="128">
    </div>
  
    <!-- Navbar -->
    <app-header></app-header>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <app-sidebar-menu></app-sidebar-menu>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" *ngIf="isLogged">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid main-content">
          <router-outlet></router-outlet>
        </div><!--/. container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div *ngIf="!isLogged">
      <router-outlet></router-outlet>
    </div>
    
    <!-- Control Sidebar -->
    <app-offset-area></app-offset-area>
    <!-- /.control-sidebar -->
  
    <!-- Main Footer -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->
<app-loader></app-loader>