@import "./styles/loader";

.brand-link .brand-image {
    max-height: none !important;
    margin: 0 auto !important;
    width: 128px !important;
    height: 128px !important;
    display: block !important;
    float: none !important;
}

body .wrapper .sidebar {
    margin-top: calc(9.5rem + 1px) !important;
}

body.sidebar-collapse{
    .brand-link .brand-image {
        width: auto !important;
        max-height: 33px !important;
    }

    .wrapper .sidebar {
        margin-top: calc(3.5rem + 1px) !important;
    }
}

.main-footer.unlogged{
    margin-left: 0 !important;
}
.login-page, .register-page{
    background-color: unset !important;
    background-image: url("assets/images/back-ekaly.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content{
    padding-top: 15px;
}
.control-sidebar{
    width: 350px !important;
    background-color: #686c70 !important;
    padding: 15px;
    overflow: auto;
}